<<<<<<< HEAD
<<<<<<< HEAD
.head-img {
  width: 100vw;
  object-fit: cover;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
  filter: brightness(60%);
}

.my-input {
  @apply border-2 rounded-md p-1 w-60 bg-gray-100;
}

.my-label {
  @apply mt-2;
}

.error-div {
  @apply text-red-500;
}

.add-more-btn {
  @apply cursor-pointer bg-[#495a9c] text-white w-24 rounded-md my-2 p-1 text-center;
}

.submit-btn {
  @apply bg-[#06634f] w-60 text-white rounded-md p-1;
}
=======
=======
>>>>>>> afc081a49aea813fc597ed46cce39843d9982fee
.head-img {
  width: 100vw;
  object-fit: cover;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
  filter: brightness(60%);
}

.my-input {
  @apply border-2 rounded-md p-1 w-60 bg-gray-100;
}

.my-label {
  @apply mt-2;
}

.error-div {
  @apply text-red-500;
}

.add-more-btn {
  @apply cursor-pointer bg-[#495a9c] text-white w-24 rounded-md my-2 p-1 text-center;
}

.submit-btn {
  @apply bg-[#06634f] w-60 text-white rounded-md p-1;
}
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> afc081a49aea813fc597ed46cce39843d9982fee
