@font-face {
  font-family: "Dancing_Script"; /* Replace with your font name */
  src: url("./assets/fonts/DancingScript-VariableFont_wght.ttf")
    format("truetype");
}

input:focus {
  outline: none; /* Removes default outline */
  border: none; /* Removes border if needed */
}
